<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>
    <rewrite>
        <rules>
            <rule name="Regla 1 importada" stopProcessing="true">
            <match url="^(.+)$" ignoreCase="false" />
            <conditions>
                <!--# Necessary to prevent problems when using a controller named "index" and having a root index.php-->
                <!--# more here: http://httpd.apache.org/docs/2.2/content-negotiation.html-->
                <!--# Activates URL rewriting (like myproject.com/controller/action/1/2/3)-->
                <!--# Disallows others to look directly into /public/ folder-->
                <!--# When using the script within a sub-folder, put this path here, like /mysubfolder/-->
                <!--# If your app is in the root of your web folder, then leave it commented out-->
                <!--#RewriteBase /iTempModerna/-->
                <!--# General rewrite rules-->
                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
            </conditions>
            <action type="Rewrite" url="index.php?url={R:1}" appendQueryString="true" />
            </rule>
        </rules>
    </rewrite>
</system.webServer>
</configuration>